body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
}

#app {
    width: 500px;
    background: rgba(0, 0, 138, 0.7);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}
#entryHolder {
    width: auto;
}

#date {
    font-size: 20px;
    margin: 7px 12px;
}

#temp {
    font-size: 20px;
    margin: 7px 12px;
}

#content {
    font-size: 20px;
    margin: 7px 12px;
}

#entry > .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
#entry {
    display: contents;
    font-family: 'Times New Roman', Times, serif;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
.holder label {
    margin: 10px;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.holder input,
.holder textarea,
.entry {
    margin: 10px 0;
    width: 100%;
    border: 0px;
    background: transparent;
    /*outline: none;*/
    height: 40px;
    font-size: 17px;
    color: white;
}

.holder button {
    position: unset;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 5px;
    font-weight: normal;
}
.holder button:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
    font-weight: bold;
}
h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 28px;
    color: white;
}

.holder textarea {
    height: 70px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}
